* {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}
button {
  background-color: rgb(82, 186, 179);
  border-radius: 6px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 20px;
  text-transform: uppercase;
  width: 500px;
  cursor: pointer;
  font-size: 36px;
}
#placeholder {
  height: 400px;
  width: 400px;
  padding: 50px;
  margin: 50px auto;
  border: 1px solid gray;
  border-radius: 10px;  
  font-size: 400px;
}
